In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df_ratings = pd.read_csv("ratings.csv")
df_movies = pd.read_csv("movies.csv")

In [4]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
df_ratings = df_ratings.merge(df_movies[['movieId', 'title']],how='left', on='movieId')

In [7]:
df_user_item = df_ratings.pivot_table(index=['userId'], columns=['title'], values='rating')

In [8]:
df_user_item.tail(5)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [9]:
corr_matrix = df_user_item.corr(method='pearson', min_periods=100) # min_periods отвечает за количество наблюдений чтобы сделать оценку по корреляции

In [10]:
user_ratings = df_user_item.loc[7].dropna()
user_ratings

title
2001: A Space Odyssey (1968)           4.0
A.I. Artificial Intelligence (2001)    4.5
Aladdin (1992)                         3.0
American Beauty (1999)                 4.0
Apocalypse Now (1979)                  4.0
                                      ...
What Women Want (2000)                 4.0
Wild Wild West (1999)                  1.5
X-Men (2000)                           3.5
X-Men: The Last Stand (2006)           4.0
X2: X-Men United (2003)                4.0
Name: 7, Length: 152, dtype: float64

In [13]:
simCandidates_list = []  # Создаем список для аккумулирования данных

for i in range(0, len(user_ratings.index)):
    sims = corr_matrix[user_ratings.index[i]].dropna()
    sims = sims.map(lambda x: x * user_ratings.iloc[i])  # Используем iloc для обращения к конкретной оценке
    simCandidates_list.append(sims)  # Временно сохраняем в список

# Объединяем все Series в один Series
simCandidates = pd.concat(simCandidates_list)

simCandidates = simCandidates.sort_values(ascending=False)

In [14]:
user_ratings.index[5]

'Apollo 13 (1995)'

In [15]:
corr_matrix[user_ratings.index[5]].dropna()

title
Ace Ventura: Pet Detective (1994)       0.096976
Aladdin (1992)                          0.321222
Apollo 13 (1995)                        1.000000
Batman (1989)                           0.075678
Braveheart (1995)                       0.232201
Dances with Wolves (1990)               0.252496
Forrest Gump (1994)                     0.186355
Fugitive, The (1993)                    0.355056
Independence Day (a.k.a. ID4) (1996)    0.302946
Jurassic Park (1993)                    0.309437
Lion King, The (1994)                   0.316054
Pulp Fiction (1994)                    -0.045333
Schindler's List (1993)                 0.330132
Seven (a.k.a. Se7en) (1995)             0.046390
Shawshank Redemption, The (1994)        0.102889
Silence of the Lambs, The (1991)        0.164643
Speed (1994)                            0.311971
Terminator 2: Judgment Day (1991)       0.399526
Toy Story (1995)                        0.191449
True Lies (1994)                        0.253759
Name: Apollo 13 (1995), dtype: float64

In [16]:
user_ratings[5]

/var/folders/4m/8dvsk5n16v393061q10pts6m0000gn/T/ipykernel_24683/2761511157.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  user_ratings[5]

4.5

In [18]:
sims = corr_matrix[user_ratings.index[5]].dropna()

In [19]:
sims = sims.map(lambda x: x * user_ratings[5])

/var/folders/4m/8dvsk5n16v393061q10pts6m0000gn/T/ipykernel_24683/3692227409.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sims = sims.map(lambda x: x * user_ratings[5])

In [20]:
sims

title
Ace Ventura: Pet Detective (1994)       0.436391
Aladdin (1992)                          1.445498
Apollo 13 (1995)                        4.500000
Batman (1989)                           0.340552
Braveheart (1995)                       1.044904
Dances with Wolves (1990)               1.136230
Forrest Gump (1994)                     0.838598
Fugitive, The (1993)                    1.597750
Independence Day (a.k.a. ID4) (1996)    1.363258
Jurassic Park (1993)                    1.392467
Lion King, The (1994)                   1.422241
Pulp Fiction (1994)                    -0.203999
Schindler's List (1993)                 1.485596
Seven (a.k.a. Se7en) (1995)             0.208755
Shawshank Redemption, The (1994)        0.463001
Silence of the Lambs, The (1991)        0.740894
Speed (1994)                            1.403870
Terminator 2: Judgment Day (1991)       1.797867
Toy Story (1995)                        0.861521
True Lies (1994)                        1.141915
Name: Apollo 13 (1995), dtype: float64

In [21]:
simCandidates

title
Silence of the Lambs, The (1991)             5.000000
Back to the Future (1985)                    5.000000
Terminator, The (1984)                       5.000000
Forrest Gump (1994)                          5.000000
Jurassic Park (1993)                         5.000000
                                               ...
Pulp Fiction (1994)                         -0.376668
Pulp Fiction (1994)                         -0.431635
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)   -0.474771
Pulp Fiction (1994)                         -0.719040
Fargo (1996)                                -0.801146
Length: 697, dtype: float64

In [22]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()
simCandidates.sort_values(inplace = True, ascending = False)

In [23]:
simCandidates

title
Matrix, The (1999)                                       30.707095
Jurassic Park (1993)                                     28.078650
Star Wars: Episode IV - A New Hope (1977)                27.955474
Star Wars: Episode V - The Empire Strikes Back (1980)    27.739345
Terminator 2: Judgment Day (1991)                        27.421780
                                                           ...
Dumb & Dumber (Dumb and Dumber) (1994)                    1.096868
Departed, The (2006)                                      1.000000
Babe (1995)                                               0.472172
Eternal Sunshine of the Spotless Mind (2004)              0.467916
Kill Bill: Vol. 1 (2003)                                 -0.046993
Length: 91, dtype: float64

In [24]:
intersection_set = set.intersection(set(simCandidates.index), set(user_ratings.index))
not_watched = list(set(simCandidates.index) - set(user_ratings.index))

In [25]:
print("Intersection: ", len(intersection_set))
print("Not watched: ", len(not_watched))

Intersection:  47
Not watched:  44

In [26]:
filteredSims = simCandidates[not_watched].sort_values(ascending = False)

In [27]:
filteredSims

title
Matrix, The (1999)                                                                30.707095
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    22.002139
Shawshank Redemption, The (1994)                                                  18.925514
Saving Private Ryan (1998)                                                        16.090221
Braveheart (1995)                                                                 14.532443
Men in Black (a.k.a. MIB) (1997)                                                  12.640371
Fight Club (1999)                                                                 12.045625
Lion King, The (1994)                                                             11.318720
Schindler's List (1993)                                                           11.235903
Speed (1994)                                                                      10.869473
Godfather, The (1972)                                                             10.593499
Fugitive, The (1993)                                                              10.108583
Indiana Jones and the Last Crusade (1989)                                          9.090185
Pulp Fiction (1994)                                                                8.878230
Memento (2000)                                                                     7.957852
Seven (a.k.a. Se7en) (1995)                                                        7.766258
Dances with Wolves (1990)                                                          7.192272
Ace Ventura: Pet Detective (1994)                                                  5.806843
Fargo (1996)                                                                       5.691711
Die Hard (1988)                                                                    5.291964
Mask, The (1994)                                                                   4.919666
Finding Nemo (2003)                                                                4.507745
Dark Knight, The (2008)                                                            4.267543
Princess Bride, The (1987)                                                         3.991081
Alien (1979)                                                                       3.681264
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                          3.637218
Monty Python and the Holy Grail (1975)                                             3.403627
Stargate (1994)                                                                    3.297823
Mrs. Doubtfire (1993)                                                              2.956894
GoldenEye (1995)                                                                   2.790092
Batman Forever (1995)                                                              2.461102
Good Will Hunting (1997)                                                           2.420211
Pretty Woman (1990)                                                                2.275435
Aliens (1986)                                                                      1.823581
Home Alone (1990)                                                                  1.739832
Inception (2010)                                                                   1.665530
Groundhog Day (1993)                                                               1.545169
Titanic (1997)                                                                     1.449337
Léon: The Professional (a.k.a. The Professional) (Léon) (1994)                     1.313441
Reservoir Dogs (1992)                                                              1.239994
Dumb & Dumber (Dumb and Dumber) (1994)                                             1.096868
Babe (1995)                                                                        0.472172
Eternal Sunshine of the Spotless Mind (2004)                                       0.467916
Kill Bill: Vol. 1 (2003)                                                          -0.046993
dtype: float64